<mat-toolbar color="primary">
    <span class="fill-remaining-space">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">

        <button mat-menu-item [routerLink]="['/product']" routerLinkActive="router-link-active">
          <mat-icon>android</mat-icon>
          <span>Product Primeng</span>
        </button>

        <button mat-menu-item [routerLink]="['/product-mat']" routerLinkActive="router-link-active">
          <mat-icon>card_giftcard</mat-icon>
          <span>Product Material</span>
        </button>

        <button mat-menu-item [routerLink]="['/customer']" routerLinkActive="router-link-active">
            <mat-icon>assignment_ind</mat-icon>
            <span>Customer Primeng</span>
        </button>

        <button mat-menu-item [routerLink]="['/customer-mat']" routerLinkActive="router-link-active">
          <mat-icon>group_work</mat-icon>
          <span>Customer Material</span>
        </button>

        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>

      </mat-menu>
    </span>

    <button mat-icon-button [routerLink]="['/home']" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

  </mat-toolbar>
<router-outlet></router-outlet>
